.certificate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.certificate_con{
    width: 80%;
}
@media (max-width:900px) {
    .certificate_con{
        width: 90%;
    }
}