.service{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_con{
    width: 80%;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.h1{
    text-align: center;
    font-size: 4rem;
}
.service_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.service_item{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.item_img{
    width: 60px;
    height: 60px;
}
.item_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.item_heading{
    font-size: 2rem;
    background-color: black;
    color: #fff;
    padding: 0.2rem 0.7rem;
}
.item_desc{
    font-size: 1.5rem;
}
@media (max-width:900px) {
    .service_con{
        width: 90%;
    }
}
@media (max-width:780px){
    .service_item{
        width: 90%;
    }
    .item_img{
        width: 50px;
        height: 50px;
    }
    .item_heading{
        font-size: 1.8rem;
    }.item_desc{
        font-size: 1.4rem;
    }
}